</div>
<!-- <div class="footer-padding "></div>
<div class="footer">
  <p>@ Atul Kumar 2023</p>
</div> -->
 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<!-- this can be used when web content is greater or full of display -->
<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container-fluid footer-container">
  <!-- Footer -->
  <footer
          class="text-center text-lg-start text-dark"
          style="background-color: #ECEFF1"
          >
    <!-- Section: Social media -->
    <section
             class="d-flex justify-content-between p-4 text-white container-fluid"
             style="background-color: #21D192"
             >
      <!-- Left -->
      <div class="me-5">
        <span>Spark foundation social networks:</span>
      </div>
      <!-- Left -->

      <!-- Right -->
      <div>
        <a href="https://sg.linkedin.com/company/the-sparks-foundation" class="text-white me-4">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://www.facebook.com/thesparksfoundation.info/ " class="text-white me-4">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://twitter.com/tsfsingapore?lang=en" class="text-white me-4">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://internship.thesparksfoundation.info/" class="text-white me-4">
          <i class="fab fa-google"></i>
        </a>
        <a href="https://www.instagram.com/thesparksfoundation.info/" class="text-white me-4">
          <i class="fab fa-instagram"></i>
        </a>
        
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold">The Spark foundation</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              You can do internship and gain some knowledge with this organisation.They give a industry related projects like banking system,payment gateway related projects etc.
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Join Us!</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              <a href="#!" class="text-dark">GRIP (internship)</a>
            </p>
            <p>
              <a href="#!" class="text-dark">Brand Ambassador</a>
            </p>
            <p>
              <a href="#!" class="text-dark">Expert Mentor</a>
            </p>
            <p>
              <a href="#!" class="text-dark"> Events Volunteer</a>
            </p>
            <p>
              <a href="#!" class="text-dark"> Management Volunteer</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Useful links</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              <a href="/" class="text-dark">Home</a>
            </p>
            <p>
              <a href="/customerlist" class="text-dark"> Our Customers</a>
            </p>
            <p>
              <a href="/transaction" class="text-dark">Transaction History</a>
            </p>
            <p>
              <a href="/contact" class="text-dark">contact Us</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Contact us</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p><i class="fas fa-home mr-3"></i>Singapore, 119613</p>
            <p><i class="fas fa-envelope mr-3"></i> info@thesparksfoundation.sgm</p>
            <p><i class="fas fa-phone mr-3"></i>+65-8402-8590</p>
            <!-- <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p> -->
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      © 2023 Copyright:
      <a class="text-dark" href="https://gray-goose-garb.cyclic.app/"
         >Atul kumar</a
        >
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</div>
<!-- End of .container -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="/js/index.js"></script>
</body>
</html>